//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 16px 23.58px;
	// border: 1px solid #eee;
	background: #f5f5f5;
	outline: none;
	line-height: math.div(24, 16);
	letter-spacing: em(0.15, 16);
	&::placeholder {
		color: $mainGrey;
	}
	&._form-focus {
		outline: 2px solid #02133c8d;
	}
	&._error {
	}
	&--search {
		padding: 2px 5px;
		font-size: rem(12);
		border: 1px solid #4b4b4b53;
		&._form-focus {
			outline: none;
			border: 1px solid #4b4b4b53;
		}
	}
}
textarea.input {
	resize: none;
	padding: 17px 23px;
}
