//====================================================================================================
.footer {
    font-size: rem(14);

    // .footer__container
    &__container {
        @include adaptiveValue("padding-top", 160, 160);
        @include adaptiveValue("padding-bottom", 123, 123);
    }
    // .footer__items
    &__items {
        display: grid;
        row-gap: rem(40);
        @media (min-width: $mobile) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    // .footer__item
    &__item {
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
}
.footer-main {
    @media (min-width: $mobile) {
        max-width: rem(235);
    }
    display: grid;
    gap: rem(25);
    // .footer-main__logo
    &__logo {
    }
    // .footer-main__text
    &__text {
        line-height: math.div(22, 14);
        letter-spacing: em(0.15, 14);
    }
    // .footer-main__links
    &__links {
        display: flex;
        gap: rem(18);
        color: $mainRed;
        font-size: rem(24);
    }
    // .footer-main__link
    &__link {
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $mainBlue;
            }
        }
    }
}

.footer-links {
    font-weight: 700;
    line-height: math.div(22, 14);
    letter-spacing: em(0.15, 14);
    // .footer-links__title
    &__title {
        &:not(:last-child) {
            margin-bottom: rem(28);
        }
    }
    // .footer-links__block
    &__block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(11);
        column-gap: rem(32);
    }
    // .footer-links__link
    &__link {
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $mainRed;
            }
        }
    }
}
.footer-contacts {
    @media (min-width: $mobile) {
        justify-self: end;
    }
    // .footer-contacts__title
    &__title {
        font-weight: 700;
        line-height: math.div(22, 14);
        letter-spacing: em(0.15, 14);
        &:not(:last-child) {
            margin-bottom: rem(28);
        }
    }
    // .footer-contacts__content
    &__content {
        line-height: math.div(20, 14);
        letter-spacing: em(0.15, 14);
        display: grid;
        row-gap: rem(16);
    }
    // .footer-contacts__item
    &__item {
    }
    // .footer-contacts__info
    &__info {
        display: flex;
        gap: rem(18);
        &::before {
            font-size: rem(16);
            color: $mainRed;
        }
    }
}

.footer-copy {
    background-color: $mainBlue;
    color: #959595;
    padding: 23px 0px;
    // .footer-copy__container
    &__container {
        display: flex;
        @media (min-width: $mobile) {
            justify-content: space-between;
        }
        @media (max-width: $mobile) {
            flex-direction: column;
            text-align: center;
        }
        gap: rem(20);
    }
    // .footer-copy__text
    &__text {
    }
    // .footer-copy__license
    &__license {
    }
}

//====================================================================================================
