//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	height: 128px;
	// .header__container
	&__container {
		display: grid;
		row-gap: rem(28);
		@media (max-width: $tablet) {
			row-gap: rem(15);
		}
	}
	// .header__floor
	&__floor {
	}
}
.first-header-floor {
	@media (max-width: $mobile) {
		display: none;
	}
	font-size: 12px;
	color: #fff;
	display: flex;
	@media (min-width: $tablet) {
		justify-content: space-between;
	}
	@media (max-width: $tablet) {
		justify-content: center;
	}
	// .first-header-floor__logo
	&__logo {
	}
	// .first-header-floor__info
	&__info {
		@media (max-width: $tablet) {
			display: none;
		}
		display: flex;
		gap: rem(30);
	}
	// .first-header-floor__item
	&__item {
	}
	// .first-header-floor__link
	&__link {
	}
}
.header-item {
	display: flex;
	column-gap: rem(10);
	// .header-item__icon
	&__icon {
		font-size: rem(24);
		color: $mainRed;
	}
	// .header-item__content
	&__content {
		font-weight: 700;
		line-height: math.div(22, 12);
		letter-spacing: em(0.15, 12);
	}
	// .header-item__name
	&__name {
	}
	// .header-item__info
	&__info {
	}
}

.second-header-floor {
	display: flex;
	align-items: center;
	padding: 18px 40px;
	justify-content: space-between;
	background-color: #fff;
	color: $mainBlue;
	font-size: rem(14);
	font-weight: 700;
	line-height: math.div(22, 14);
	letter-spacing: em(0.15, 14);
	// .second-header-floor__menu
	&__menu {
	}
	// .second-header-floor__utility
	&__utility {
		display: flex;
		justify-content: space-between;
		column-gap: rem(22);
		font-size: rem(24);
		color: $mainColor;
	}
	// .second-header-floor__search
	&__search {
	}
	// .second-header-floor__basket
	&__basket {
		position: relative;
		&::before {
			transition: color 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: $mainRed;
				}
			}
		}
	}
}
.basket-couner {
	line-height: 0;
	position: absolute;
	top: -8px;
	right: -8px;
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: rem(10);
	font-weight: 500;
	background-color: $mainRed;
	color: #fff;
	border-radius: 50%;
}

.search {
	overflow: hidden;
	position: relative;
	&._active {
		.search__form {
			transform: translate(0px, 0px);
		}
	}
	// .search__form
	&__form {
		transition: all 0.3s ease 0s;
		transform: translate(150px, 0px);
		display: flex;
		column-gap: rem(5);
	}
	// .search__icon
	&__icon {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $mainRed;
			}
		}
	}
	// .search__results-dropdown
	&__results-dropdown {
		line-height: 1;
		position: absolute;
		top: 25px;
		left: 30px;
		width: 149px;
		height: 100%;
	}
	// .search__results-list
	&__results-list {
		background-color: #fff;
		padding: 10px 5px;
		display: grid;
		row-gap: rem(15);
	}
	// .search__item
	&__item {
	}
	// .search__link
	&__link {
		color: $mainBlue;
		font-size: rem(14);
		transition: color 0.3s ease 0s;
		text-transform: capitalize;
		@media (any-hover: hover) {
			&:hover {
				color: $mainRed;
			}
		}
	}
	//.search__nothing
	&__nothing {
		color: $mainBlue;
		font-size: rem(14);
		text-transform: capitalize;
	}
}

.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		@include adaptiveValue("column-gap", 37, 15, 1020, 767.98, 1);
	}
	// .menu__item
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: rem(10);
		@media (any-hover: hover) {
			&:hover {
				.sub-menu {
					visibility: visible;
					opacity: 1;
					transform: rotateX(0deg);
				}
				.menu__arrow {
					&::before {
						transform: rotate(-180deg);
					}
				}
			}
		}
	}
	// .menu__link
	&__link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $mainRed;
			}
		}
	}
	//.menu__arrow
	&__arrow {
		font-size: rem(12);
		color: $mainRed;
		transform: rotate(0);
		&::before {
			transition: transform 0.3s ease 0s;
		}

		&._active {
			&::before {
				transform: rotate(-180deg);
			}
		}
	}
}
.sub-menu {
	position: absolute;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	opacity: 0;
	transform-origin: 0 0;
	transform: rotateX(-90deg);
	min-width: rem(150);
	top: 12px;
	left: -22px;
	padding-top: rem(20);
	&._open {
		visibility: visible;
		opacity: 1;
		transform: rotateX(0deg);
	}
	// .sub-menu__item
	&__item {
		padding: 0px 20px 15px;
		background-color: #fff;
	}
	// .sub-menu__link
	&__link {
		@media (any-hover: hover) {
			&:hover {
				color: $mainRed;
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			&::before,
			&::after {
				background-color: #fff;
			}
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
