//====================================================================================================
.header {
	// .header__container
	&__container {
	}
	// .header__floor
	&__floor {
	}
}
.first-header-floor {
	// .first-header-floor__logo
	&__logo {
	}
	// .first-header-floor__info
	&__info {
	}
	// .first-header-floor__item
	&__item {
	}
	// .first-header-floor__link
	&__link {
	}
}
.header-item {
	// .header-item__icon
	&__icon {
	}
	// .header-item__content
	&__content {
	}
	// .header-item__name
	&__name {
	}
	// .header-item__info
	&__info {
	}
}

.second-header-floor {
	// .second-header-floor__menu
	&__menu {
	}
	// .second-header-floor__utility
	&__utility {
	}
	// .second-header-floor__search
	&__search {
	}
	// .second-header-floor__link
	&__link {
	}
}
.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
	}
	// .menu__sub-menu
	&__sub-menu {
	}
}
.icon-menu {
}
.sub-menu {
	// .sub-menu__item
	&__item {
	}
	// .sub-menu__link
	&__link {
	}
}
.search {
	// .search__icon
	&__icon {
	}
}
.input {
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			&::before,
			&::after {
				background-color: #fff;
			}
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
