//====================================================================================================
.main-screen {
    @include adaptiveValue("padding-top", 174, 174);
    @include adaptiveValue("padding-bottom", 174, 174);
    display: flex;
    background: url("@img/main-screen/BG.jpg") 0 0 / cover no-repeat;
    // .main-screen__container
    &__container {
        width: 100%;
        display: grid;
        justify-items: start;
        align-self: center;
        color: #fff;
        @include adaptiveValue("row-gap", 48, 20);
    }
    // .main-screen__title
    &__title {
        @include adaptiveValue("font-size", 56, 34);
        font-weight: 900;
        line-height: math.div(56, 56);
        max-width: rem(583);
    }
    //.main-screen__link
    &__link {
    }
}
//========================================================================================================================================================
.who-we-are {
    margin-top: rem(-80);
    padding: 0px 15px 120px 15px;
    &:not(:last-child) {
        // @include adaptiveValue("margin-bottom", 110, 110);
        margin-bottom: 110px;
    }
    // .who-we-are__container
    &__container {
        position: relative;
        background-color: #fff;
        @include adaptiveValue("padding-left", 87, 15);
        @include adaptiveValue("padding-right", 87, 15);
        @include adaptiveValue("padding-top", 100, 30);
    }
    // .who-we-are__decore
    &__decore {
    }
    // .who-we-are__decore-image-ibg
    &__decore-image-ibg {
        position: absolute;
        top: 0;
        right: 0;
        width: 57%;
        height: 58%;
        // width: 642px;
        // height: 450px;
    }

    // .who-we-are__content
    &__content {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 53, 20);
        }
    }
    // .who-we-are__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 36, 20);
        }
    }
    // .who-we-are__text
    &__text {
        line-height: math.div(24, 16);
        letter-spacing: em(0.15, 16);
    }
    // .who-we-are__image-ibg
    &__image-ibg {
        margin-top: rem(-120);
        padding-bottom: percent(421, 847);
        img {
            margin-top: rem(120);
        }
    }
}

//========================================================================================================================================================
.promise {
    @include adaptiveValue("padding-bottom", 122, 60);
    // .promise__container
    &__container {
    }
    // .promise__header
    &__header {
        &:not(:last-child) {
            margin-bottom: rem(68);
        }
    }
    // .promise__items
    &__items {
        display: grid;
        gap: rem(24);
        @media (min-width: $mobile) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    // .promise__item
    &__item {
    }
}

.item-promise {
    display: flex;
    column-gap: rem(23);
    // .item-promise__icon
    &__icon {
        align-self: flex-start;
    }
    // .item-promise__content
    &__content {
        display: grid;
        row-gap: rem(20);
        align-content: start;
    }
    // .item-promise__title
    &__title {
        font-size: rem(19);
        color: $mainBlue;
        font-weight: 900;
        line-height: math.div(26, 19);
    }
    // .item-promise__text
    &__text {
        line-height: math.div(24, 16);
        letter-spacing: em(0.15, 16);
    }
}

//========================================================================================================================================================
.services {
    // .services__container
    &__container {
        @include adaptiveValue("padding-top", 110, 40);
        @include adaptiveValue("padding-bottom", 122, 50);
        position: relative;
        display: grid;
    }
    // .services__decore
    &__decore {
        position: absolute;
        top: 0;
        left: -20.7%;
        @media (max-width: $pc) {
            left: 0;
        }
        width: 63%;
        @media (max-width: $mobile) {
            width: 100%;
        }
        max-width: rem(642);
        max-height: rem(450);
    }
    // .services__decore-image-ibg
    &__decore-image-ibg {
        padding-bottom: percent(450, 642);
    }
    // .services__header
    &__header {
        position: relative;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 78, 50);
        }
    }
    // .services__table
    &__table {
        position: relative;
        display: grid;
        z-index: 2;
        @media (min-width: $mobileSmall) {
            grid-template-columns: repeat(3, 1fr);
            @media (max-width: $mobile) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        gap: rem(24);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 66, 30);
        }
    }
    // .services__item
    &__item {
    }
    // .services__link
    &__link {
        justify-self: center;
    }

    // .services__decore-bottom
    &__decore-bottom {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: -20.7%;
        width: 63%;
        @media (max-width: $pc) {
            right: 0;
        }
    }
    // .services__decore-bottom-image-ibg
    &__decore-bottom-image-ibg {
        padding-bottom: percent(450, 642);
    }
}

.item-services {
    background-color: #fff;
    @include adaptiveValue("padding-top", 50, 20, 1020, 767.98, 1);
    @include adaptiveValue("padding-bottom", 50, 20, 1020, 767.98, 1);
    @include adaptiveValue("padding-right", 43, 13, 1020, 767.98, 1);
    @include adaptiveValue("padding-left", 43, 13, 1020, 767.98, 1);
    @media (max-width: $mobileSmall) {
        padding: 50px 43px;
    }
    display: grid;
    justify-items: center;
    transition: box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            box-shadow:
                0 4px 6px rgba(0, 0, 0, 0.1),
                0 8px 10px rgba(0, 0, 0, 0.1),
                0 16px 24px rgba(0, 0, 0, 0.1);
        }
    }
    // .item-services__icon
    &__icon {
        &:not(:last-child) {
            margin-bottom: 33px;
            @media (max-width: em(767.98)) and (min-width: em(479.98)) {
                margin-bottom: rem(15);
            }
        }
    }
    // .item-services__title
    &__title {
        text-align: center;
        font-size: rem(19);
        font-weight: 900;
        line-height: math.div(26, 19);
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    // .item-services__text
    &__text {
        line-height: math.div(24, 16);
        letter-spacing: em(0.15, 16);
    }
}

//========================================================================================================================================================
.appointment {
    background-color: $mainBlue;
    // .appointment__container
    &__container {
        @include adaptiveValue("padding-top", 130, 60);
        @include adaptiveValue("padding-bottom", 210, 120);
        position: relative;
        display: flex;
        @media (min-width: $mobile) {
            justify-content: space-between;
        }
        @media (max-width: $mobile) {
            flex-direction: column;
        }
        column-gap: rem(10);
        row-gap: rem(30);
    }

    // .appointment__decore
    &__decore {
        position: absolute;
        z-index: 1;
        top: 0;
        right: -20.7%;
        width: 63%;
        @media (max-width: $pc) {
            right: 0;
        }
    }
    // .appointment__decore-image-ibg
    &__decore-image-ibg {
        padding-bottom: percent(450, 642);
    }

    // .appointment__form
    &__form {
        z-index: 2;
    }
    // .appointment__info
    &__info {
        z-index: 2;
        font-weight: 900;
        text-align: center;
        color: #fff;
        max-width: rem(324);
        display: grid;
        @include adaptiveValue("row-gap", 46, 46);
        align-self: center;
    }
    // .appointment__title
    &__title {
        @include adaptiveValue("font-size", 30, 20);
        line-height: math.div(36, 30);
    }
    // .appointment__counter
    &__counter {
        @include adaptiveValue("font-size", 96, 50);
        line-height: math.div(56, 96);
        color: $mainRed;
    }
    // .appointment__sub-title
    &__sub-title {
        font-size: rem(19);
        line-height: math.div(26, 19);
    }
}
.form-appointment {
    @include adaptiveValue("padding-top", 76, 30, 1020, 767.98, 1);
    @include adaptiveValue("padding-bottom", 76, 30, 1020, 767.98, 1);
    @include adaptiveValue("padding-right", 57, 15, 1020, 767.98, 1);
    @include adaptiveValue("padding-left", 57, 15, 1020, 767.98, 1);
    display: grid;
    background-color: #fff;
    // .form-appointment__title
    &__title {
        @include adaptiveValue("font-size", 36, 25);
        font-weight: 900;
        line-height: math.div(42, 36);
        text-align: center;
        color: $mainBlue;
        &:not(:last-child) {
            margin-bottom: 43px;
        }
    }
    // .form-appointment__client-info
    &__client-info {
        display: grid;
        @media (min-width: $mobileSmall) {
            grid-template-columns: repeat(2, 1fr);
        }
        gap: rem(22);
        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }
    // .form-appointment__input
    &__input {
    }
    // .form-appointment__textarea
    &__textarea {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        width: 100%;
        height: 180px;
    }
    // .form-appointment__button
    &__button {
        justify-self: end;
    }
}
//========================================================================================================================================================
.customers {
    @include adaptiveValue("padding-bottom", 210, 210);
    // .customers__container
    &__container {
        display: grid;
        @media (min-width: $mobile) {
            grid-template-columns: repeat(3, 1fr);
        }
        gap: rem(24);
    }
    // .customers__header
    &__header {
        align-self: start;
    }
    // .customers__block
    &__block {
    }
}
.block-customers {
    line-height: math.div(24, 16);
    letter-spacing: em(0.15, 16);
    display: grid;
    row-gap: rem(18);
    padding: 50px 43px 40px;
    @media (max-width: em(991.98)) and (min-width: em(767.98)) {
        padding: 40px 23px 30px;
    }

    background-color: #fff;
    // .block-customers__text
    &__text {
    }
    // .block-customers__info
    &__info {
        display: flex;
        gap: rem(17);
    }
    // .block-customers__avatar
    &__avatar {
        border-radius: rem(48);
    }
    // .block-customers__name
    &__name {
        font-weight: 700;
        color: $mainBlue;
        align-self: center;
    }
}

//========================================================================================================================================================
.impact {
    @include adaptiveValue("padding-bottom", 212, 212);
    background-color: $mainBlue;
    position: relative;

    //impact__overlay-ibg
    &__overlay-ibg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
        }
    }
    // .impact__container
    &__container {
    }
    // .impact__block
    &__block {
        display: grid;
        row-gap: rem(30);
        @media (min-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 80, 80);
        }
    }
    // .impact__header
    &__header {
        padding-top: rem(50);
        align-self: end;
        max-width: rem(411);
    }
    // .impact__image-ibg
    &__image-ibg {
        padding-bottom: percent(343, 515);
        @media (min-width: $mobile) {
            margin-top: -15%;
        }
    }
    // .impact__items
    &__items {
        display: grid;
        @media (min-width: $mobileSmall) {
            justify-items: center;
        }
        justify-content: center;
        @media (min-width: $mobileSmall) {
            grid-template-columns: repeat(4, 1fr);
            @media (max-width: em(845)) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        gap: rem(24);
    }
    // .impact__item
    &__item {
    }
}

.item-impact {
    display: flex;
    gap: rem(12);
    // .item-impact__icon
    &__icon {
    }
    // .item-impact__info
    &__info {
        align-self: center;
    }
    // .item-impact__counter
    &__counter {
        color: $mainRed;
        @include adaptiveValue("font-size", 36, 36);
        font-weight: 900;
        line-height: math.div(42, 36);
    }
    // .item-impact__description
    &__description {
        color: #f5f5f5;
        line-height: math.div(24, 16);
        letter-spacing: em(0.15, 16);
    }
    // .impact__footnote
    &__footnote {
    }
}

.footnote-impact {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 50%);
    // .footnote-impact__container
    &__container {
        background-color: #fff;
        padding: 42px 70px;
        @media (max-width: $mobileSmall) {
            padding: 25px 20px;
        }
        display: flex;
        gap: rem(30);
        @media (max-width: $mobile) {
            flex-direction: column;
        }
        @media (min-width: $mobile) {
            justify-content: space-between;
        }
    }
    // .footnote-impact__text
    &__text {
        font-size: 24px;
        @include adaptiveValue("font-size", 24, 20);
        font-weight: 900;
        color: $mainBlue;
        line-height: math.div(30, 24);
        max-width: rem(562);
    }
    // .footnote-impact__link
    &__link {
        align-self: center;
        @media (max-width: $mobile) {
            align-self: start;
        }
    }
}

//========================================================================================================================================================
.video-module {
    position: relative;
    padding-bottom: percent(500, 1440);
    @media (max-width: $mobile) {
        padding-bottom: percent(9, 21);
    }
    // .video-module__item
    &__item {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    // .video-module__container
    &__container {
        position: relative;
        z-index: 2;
    }
    // .video-module__content
    &__content {
        position: absolute;
        @media (min-width: $mobile) {
            max-width: rem(411);
            right: 0;
        }
        @include adaptiveValue("top", 112, 10);
    }
}

.content-video {
    display: grid;
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    ._play-video & {
        opacity: 0;
    }
    // .content-video__text
    &__text {
        @include adaptiveValue("font-size", 36, 16);
        line-height: math.div(42, 36);
        font-weight: 900;
        color: #fff;
    }
    // .content-video__play-button
    &__play-button {
        @media (max-width: $mobileSmall) {
            justify-self: center;
        }
        @include adaptiveValue("width", 140, 60);
        @include adaptiveValue("height", 140, 60);
        position: relative;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: #fff;
            @keyframes animPlay {
                0% {
                    width: 60px;
                    height: 60px;
                    opacity: 1;
                }
                100% {
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
            }
            animation: animPlay 1s ease infinite;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            @include adaptiveValue("width", 86, 60);
            @include adaptiveValue("height", 86, 60);
            background-color: #fff;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 22px 0 22px 28px;
            border-color: transparent transparent transparent $mainRed;
            transform: translate(-40%, -50%);
        }
    }
}

//========================================================================================================================================================
